@model Competition

<div>
    <a asp-controller="Competition" asp-action="CompetitionSignUp" class="btn btn-secondary float-end">Return to list</a>
    <h1>@Model.CompetitionName</h1>
</div>
<div>
    <h5>Date and time:</h5>
    @if (Model.CompetitionStartTime.Date == Model.CompetitionEndTime.Date)
    {
        <p>@Model.CompetitionStartTime.ToString("MM/dd/yyyy") from @Model.CompetitionStartTime.ToString("h:mm tt") to 
            @Model.CompetitionEndTime.ToString("h:mm tt")
        </p>
    }
    else
    {
        <p>
            @Model.CompetitionStartTime.ToString("MM/dd/yyyy") at @Model.CompetitionStartTime.ToString("h:mm tt") to
            @Model.CompetitionEndTime.ToString("MM/dd/yyyy") at @Model.CompetitionEndTime.ToString("h:mm tt") 
        </p>
    }


    <h5>Location:</h5>
    <p>@Model.CompetitionLocation</p>

    <h5>Description:</h5>
    <p>@Model.CompetitionDescription</p>

    <h5>Maximum team size:</h5>
    <p>@Model.CompetitionMaxTeamSize</p>
</div>
<div> <!--FIXME creatign a new team and finding existing team, also the unregister button needs to unregister the student-->
    <a class="btn btn-primary">Create new team</a>
    <a class="btn btn-primary">Find existing team</a>
    <a asp-controller="Competition" asp-action="CompetitionSignUp" class="btn btn-danger float-end">Unregister</a>
</div>
