@model Competition

<div>
    <a asp-controller="Competition" asp-action="CompetitionSignUp" class="btn btn-primary float-end">Return to list of competitions</a>
    <h1>@Model.CompetitionName</h1>
</div>
<div>
    <h5>Date and time:</h5>
    <p>@Model.CompetitionDate.ToString("MM/dd/yyyy") from @Model.CompetitionStartTime.ToString("h:mm tt") to 
        @Model.CompetitionEndTime.ToString("h:mm tt").</p>

    <h5>Location:</h5>
    <p>@Model.CompetitionLocation</p>

    <h5>Description:</h5>
    <p>@Model.CompetitionDescription</p>

    <h5>Maximum team size:</h5>
    <p>@Model.CompetitionMaxTeamSize</p>
</div>
<div> <!--FIXME-->
    <a class="btn btn-primary">Create a new team</a>
    <a class="btn btn-primary">Find a existing team</a>
    <a asp-controller="Competition" asp-action="CompetitionSignUp" class="btn btn-primary float-end">Unregister for programming competition</a>
</div>
